<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>205603746530-5p1ocfb0hromj38r8kd7dklrpmoepo06.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.205603746530-5p1ocfb0hromj38r8kd7dklrpmoepo06</string>
	<key>API_KEY</key>
	<string>AIzaSyCWKNvdVMKEYxkEe1JcQlvKgami8XfWyIw</string>
	<key>GCM_SENDER_ID</key>
	<string>205603746530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DmSt.Photo-swiping</string>
	<key>PROJECT_ID</key>
	<string>photo-swiping</string>
	<key>STORAGE_BUCKET</key>
	<string>photo-swiping.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:205603746530:ios:95ed6ee42d2e4d2de224bb</string>
</dict>
</plist>